@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>This is a web application developed by Alejandro López Hernández using ASP.NET MVC</p>
    <p>The currency exchange rates are extracted from <a href=https://fixer.io/> Fixer </a></p>

</div>