@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>Netwealth Currency Interview Test 2021</h1>
</div>
<br>
<br>

<div class="container" >
    <div class="row justify-content-md-center">
        <div class="col col-lg-3">
        This is a web application is my solution to the test for the Quantitative Developer postion at <a href=https://www.netwealth.com/>netwealth</a>,
        the currency exchange rates are extracted from <a href=https://fixer.io/> Fixer</a>, the application is developed using ASP.NET MVC 
        </div>
        <div class="col col-lg-3">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="https://danskebank.co.uk/business/products-and-services/markets/-/media/danske-bank/graphics/group/personal/currency.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Currency converter</h5>
                    <p class="card-text">Convertion calculator, from any two currencies the user define.</p>
                    <a href="Converter" class="btn btn-primary">Let's go</a>
                </div>
            </div>
        </div>
    </div>
